/E-Admin/nbproject/private/
/Eadmin/nbproject/private/
/Eadmin/Eadmin-war/nbproject/private/
/Eadmin/Eadmin-ejb/nbproject/private/
/Eadmin/Eadmin-war/build/
/Eadmin/Eadmin-ejb/dist/
/Eadmin/Eadmin-ejb/build/
/Eadmin/dist/
/Eadmin/build/
/Eadmin/Eadmin-war/dist/
/E-Admin/build/