<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListUser</servlet-name>
        <servlet-class>servlet_user.ListUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_user</servlet-name>
        <servlet-class>servlet_user.Delete_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit_user</servlet-name>
        <servlet-class>servlet_user.Edit_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_user</servlet-name>
        <servlet-class>servlet_user.Update_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add</servlet-name>
        <servlet-class>servlet_user.Add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>List_Lab</servlet-name>
        <servlet-class>servlet_lab.List_Lab</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit_lab</servlet-name>
        <servlet-class>servlet_lab.Edit_lab</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_lab</servlet-name>
        <servlet-class>servlet_lab.Add_lab</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Repor</servlet-name>
        <servlet-class>reportServlet.Repor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRepost</servlet-name>
        <servlet-class>reportServlet.DeleteRepost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit_Repost</servlet-name>
        <servlet-class>reportServlet.Edit_Repost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_repost</servlet-name>
        <servlet-class>reportServlet.Update_repost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_repot</servlet-name>
        <servlet-class>reportServlet.Add_repot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateadd</servlet-name>
        <servlet-class>reportServlet.updateadd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRepot1</servlet-name>
        <servlet-class>reportServlet.EditRepot1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TechProcess</servlet-name>
        <servlet-class>reportServlet.TechProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TechUpdate</servlet-name>
        <servlet-class>reportServlet.TechUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTimeTable</servlet-name>
        <servlet-class>timetable.AddTimeTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTimetable</servlet-name>
        <servlet-class>timetable.DeleteTimetable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListTimeTable</servlet-name>
        <servlet-class>timetable.ListTimeTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Book</servlet-name>
        <servlet-class>timetable.Book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTimeTable</servlet-name>
        <servlet-class>timetable.EditTimeTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comfirm</servlet-name>
        <servlet-class>timetable.Comfirm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListUser</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_user</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit_user</servlet-name>
        <url-pattern>/sua</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_user</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>List_Lab</servlet-name>
        <url-pattern>/List</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit_lab</servlet-name>
        <url-pattern>/Edit_lab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_lab</servlet-name>
        <url-pattern>/Add_lab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Repor</servlet-name>
        <url-pattern>/Repor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRepost</servlet-name>
        <url-pattern>/DeleteRepost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit_Repost</servlet-name>
        <url-pattern>/Edit_Repost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_repost</servlet-name>
        <url-pattern>/Update_repost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_repot</servlet-name>
        <url-pattern>/Add_repot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateadd</servlet-name>
        <url-pattern>/updateadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRepot1</servlet-name>
        <url-pattern>/EditRepot1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TechProcess</servlet-name>
        <url-pattern>/TechProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TechUpdate</servlet-name>
        <url-pattern>/TechUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTimeTable</servlet-name>
        <url-pattern>/AddTimeTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTimetable</servlet-name>
        <url-pattern>/DeleteTimetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListTimeTable</servlet-name>
        <url-pattern>/ListTimeTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Book</servlet-name>
        <url-pattern>/Book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTimeTable</servlet-name>
        <url-pattern>/EditTimeTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comfirm</servlet-name>
        <url-pattern>/Comfirm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
